.competition__promo {
  margin: 0;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;

  @include base-size(14px, 400, 30px);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 90px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}
// Стилизация легенд

.competition__intro {
  @include base-size(14px, 400, 18px);
  color: $base-pink;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  &--app,
  &--achievements {
    background-color: $base-grey;

    @media (min-width: $tablet-width) {
      background-color: inherit;
    }
  }

  &--achievements {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: -8px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &--reviews {
    margin-bottom: -25px;
    padding-left: 40px;
    padding-right: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: -2px;
    }
  }

  &--app {
    margin-bottom: -2px;

    @media (min-width: $tablet-width) {
      position: relative;
      padding-bottom: 0;
      margin-bottom: 0;

      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 5px;
        background-color: $base-white;
        top: 6px;
        left: -25px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 5px;
        background-color: $base-white;
        top: 6px;
        right: -25px;
      }
    }
  }

  &--contacts {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

// "Пожалуйста, заполните форму ниже:"

.competition__fill {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

// Стилизация полей
.competition__wrapper {
  background-color: $base-grey;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }
}

.competition__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  padding-top: 35px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;

  &--reviews {
    padding-bottom: 0;
  }

  &--app,
  &--achievements {
    background-color: $base-grey;

    @media (min-width: $tablet-width) {
      background-color: inherit;
    }
  }

  @media (min-width: $tablet-width) {
    border: 2px solid $base-border;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;

    &--name {
      border: none;
      padding: 0;
    }

    &--app {
      padding-bottom: 60px;
    }

    &--contacts {
      padding-top: 30px;
      padding-bottom: 24px;
    }

    &--achievements {
      padding-top: 50px;
      padding-bottom: 53px;
    }

    &--reviews {
      padding-top: 33px;
    }
  }

  @media (min-width: $desktop-width) {
    &--app {
      padding-left: 43px;
      padding-bottom: 57px;
      padding-top: 50px;
    }

    &--contacts {
      padding-top: 31px;
      padding-bottom: 10px;
    }

    &--achievements {
      padding-bottom: 15px;
    }

    &--reviews {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }
}
//  Микросетки текстовых полей

.competition__input-area {
  margin: 0;
  padding: 0;
  list-style: none;

  &--name {
    @media (min-width: $desktop-width) {
      margin-top: 16px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-column-gap: 74px;
    }
  }
}

.competition__input-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;

    &--name {
      margin-bottom: 50px;
    }

    &--contacts {
      margin-bottom: 25px;
    }
  }

  &--contacts {
    position: relative;

    @media (min-width: $tablet-width) {
      flex-direction: column-reverse;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
  }
}

// Стилизация полей ввода личных данных

.competition__input-label {
  color: $base-pink;
  text-transform: uppercase;
  padding-left: 23px;
  padding-bottom: 4px;
  margin-right: 18px;

  @include base-size(14px, 400, 30px);

  @media (min-width: $tablet-width) {
    padding-left: 0;

    &--contacts {
      padding-top: 8px;
      padding-left: 20px;
    }
  }
}

.competition__input-field {
  border: 2px solid $base-border;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  width: 100%;
  min-height: 65px;

  &:hover {
    border-color: $base-blue;
  }

  &:active {
    border-color: $base-pink;
  }
}

// Стилизация поля ввода номера телефона и email

.competition__icon {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    background-color: $base-border;
    top: 2px;
    right: 2px;
    width: 57px;
    height: 61px;
    border-radius: 2px;

    & > svg {
      padding: 20px;
    }
  }
}

// Стилизация текста внутри инпутов и placeholder

input[type~="text"],
input[type~="email"] {
  font-size: 14px;
}

.competition__input-field::placeholder,
.competition__input-phone::placeholder,
.competition__input-email::placeholder {
  @include base-size(18px, 400, 60px);
  color: $base-blue;
  font-family: "Open Sans", "Arial", sans-serif;
}

// Микросетки чекбоксов

.competition__checkbox-area {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 250px 210px;
    grid-template-rows: min-content min-content;
    grid-column-gap: 50px;
  }
}

.competition__checkbox-item {
  padding-left: 59px;
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &:nth-of-type(5) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

// Стилизация чекбоксов

.competition__checkbox-field {
  list-style: none;
  padding: 0;
  margin: 0;

  & + label::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -58px;
    width: 38px;
    height: 38px;
    border: 2px solid $base-border;
    border-radius: 2px;
    background-color: $base-white;
  }

  & + label:hover::before {
    border-color: $base-blue;
  }

  & + label:active::before {
    border-color: $base-pink;
  }

  &:checked + label::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -50px;
    width: 22px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21.698px' height='16.09px' viewBox='-82.357 4.875 21.698 16.09' enable-background='new -82.357 4.875 21.698 16.09' xml:space='preserve'%3E%3Cpath fill='%23d22856' d='M-60.953,5.167c-0.391-0.391-1.023-0.391-1.414,0L-75.75,18.551l-4.9-4.9c-0.391-0.391-1.023-0.391-1.414,0 s-0.391,1.023,0,1.414l5.607,5.607c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l14.09-14.0 C-60.562,6.191-60.562,5.558-60.953,5.167z'/%3E%3C/svg%3E%0A");
  }

  &:focus + label::before {
    box-shadow: 0 0 5px 1px $base-blue;
  }
}

.competition__checkbox-label {
  position: relative;
  cursor: pointer;
  user-select: none;

  @include base-size(18px, 400, 30px);
  color: $base-blue;
}

// Стилизация радиокнопок

.competition__radio-area {
  list-style: none;
  padding: 0;
  margin: 0;
}

.competition__radio-item {
  padding-left: 70px;
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 88px;
    margin-bottom: 47px;
  }
}

.competition__radio-input {
  & + label::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -68px;
    width: 39px;
    height: 39px;
    border: 2px solid $base-border;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -5px;
      left: -62px;
      width: 41px;
      height: 41px;
    }
  }

  & + label:hover::before {
    border-color: $base-blue;
  }

  & + label:active::before {
    border-color: $base-pink;
  }

  &:checked + label::after {
    position: absolute;
    content: "";
    top: 3px;
    left: -57px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $base-pink;

    @media (min-width: $tablet-width) {
      top: 8px;
      left: -49px;
    }
  }

  &:focus + label::before {
    box-shadow: 0 0 5px 1px $base-blue;
  }
}

.competition__radio-label {
  position: relative;
  user-select: none;
  cursor: pointer;

  @include base-size(18px, 400, 30px);
}

// Стилизация поля textarea

.competition__text-field {
  @include base-size(18px, 400, 30px);
  font-family: "Open Sans", "Arial", sans-serif;
  color: $base-blue;
  border: 2px solid $base-border;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  margin-bottom: 46px;
  min-height: 197px;

  @media (min-width: $tablet-width) {
    min-height: 191px;
  }

  @media (min-width: $desktop-width) {
    min-height: 124px;
  }
}

// Стилизация кнопок

.competition__btn-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 35px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: min-content;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 1fr 330px;
    padding-top: 60px;
  }
}

.competition__btn {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 17px;
  background-color: $base-green;
  border: none;
  border-radius: 3px;
  color: $base-white;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;

  @include base-size(18px, 700, 30px);

  &:hover {
    background-color: $special-green;
  }

  &:disabled {
    background-color: $base-border;
  }

  &:active > span {
    opacity: 0.3;
  }
}

.competition__legend {
  @include base-size(14px, 400, 30px);
  text-transform: uppercase;
  text-align: center;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    text-align: right;
    align-self: center;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.competition__required {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.competition__star {
  color: $base-pink;
}

.competition__container-mobile {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    padding: 0 10px;
  }
}
