.advantages {
  padding-top: 46px;

  &__wrapper {
    background-color: $base-grey;

    @media (max-width: $mobile-width) {
      padding-bottom: 325px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 110%;
    }
  }


  &__intro,
  &__info {
    margin: 0;
    text-align: center;

    @include base-size(24px, 300, 29px);

    @media (min-width: $tablet-width) {
      @include base-size(40px, 300, 54px);
    }

    @media (min-width: $desktop-width) {
      @include base-size(50px, 300, 68px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (width: $tablet-width) {
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &__item {
    @media (width: $tablet-width) {
      padding-left: 300px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 350px;

      &:nth-of-type(1) {
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: center top;
      }

      &:nth-of-type(2) {
        background-image: url("../img/iphone-screen-2-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: center top;
      }

      &:nth-of-type(3) {
        background-image: url("../img/iphone-screen-3-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: center top;
      }
    }
  }


  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: $base-black;
  }

  &__desc {
    margin: 0;

    @include base-size(14px, 400, 24px);
  }
}
