.competition {
  &__promo {
    @include base-size(14px, 400, 30px);

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }

  &__name {
    color: $base-pink;
    text-transform: uppercase;

    @include base-size(14px, 400, 30px);
  }

  &__field::placeholder {
    @include base-size(18px, 400, 30px);
    color: $base-blue;
  }

  &__checkboxarea,
  &__radioarea {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border-color: $base-border;

    @media (max-width: $mobile-width) {
      border: none;

      &--bgc {
        background-color: $base-grey;
      }
    }

    @media (min-width: $tablet-width) {
      &:first-child {
        border: none;
      }
    }
  }

  &__input-area {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__input-item {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &__radiolabel {
    @include base-size(18px, 400, 30px);
  }

  &__intro {
    @include base-size(14px, 400, 18px);
    color: $base-pink;
    text-transform: uppercase;
    text-align: center;
  }

  &__emotionarea {
    @include base-size(18px, 400, 30px);
    font-family: "Open Sans", "Arial", sans-serif;
    color: $base-blue;
  }

  &__label {
    @include base-size(18px, 400, 30px);
    color: $base-blue;
  }

  &__btn-area {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__btn {
    background-color: $base-green;
    border: none;
    border-radius: 1px;
    color: $base-white;
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: uppercase;

    @include base-size(18px, 700, 30px);
  }

  &__legend {
    @include base-size(14px, 400, 30px);
    text-transform: uppercase;
    text-align: center;
  }

  &__star {
    color: $base-pink;
  }
}
