@mixin base-size($fz, $fw, $lh) {
  font-size: ($fz);
  font-weight: ($fw);
  line-height: ($lh);
}

@mixin base-btn($bc, $br) {
  font-weight: 700;
  border: 3px solid ($bc);
  border-radius: ($br);
  line-height: 18px;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
}
