.page-header {
  color: $base-white;
  background-color: $base-blue;

  @media (min-width: $desktop-width) {
    min-height: 394px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
  }

  &--index {
    @media (min-width: $desktop-width) {
      min-height: 742px;
      background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  &__logo {
    height: 69px;

    @media (min-width: $tablet-width) {
      height: 110px;
    }
  }

  &__container {
    display: flex;

    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
      background-image: url("../img/bg-back-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 171px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      min-height: 330px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: 50% -110px;
    }

    &--index {
      @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        height: 619px;
        background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
      }
    }
  }

  &__middle {
    margin: 0 auto;

    &--index {
      @media (min-width: $mobile-width) and (max-width: $tablet-width) {
        height: 396px;
        background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
        background-repeat: no-repeat;
        background-position: bottom, center;
        background-size: auto, cover;
      }
    }
  }


  &__slogan {
    @include base-size(24px, 300, 33px);
    margin: 0;
    display: block;

    &--main {
      line-height: 29px;
    }

    @media (min-width: $tablet-width) {
      @include base-size(50px, 300, 68px);
    }
  }

  &__bottom {
    @media (max-width: $mobile-width) {
      background-color: $base-blue;
    }
  }

  &__button {
    @include base-btn($base-white, 29px);
    background-color: $base-blue;
    color: $base-white;
  }

  &__available {
    margin: 0;

    @include base-size(14px, 300, 24px);
  }
}
