.page-header {
  color: $base-white;
  background-color: $base-blue;

  &__top-cover {
    @media (min-width: $desktop-width) {
      background-color: $base-cover;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--index {
    @media (min-width: $desktop-width) {
      min-height: 853px;
      background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 58% bottom, center;
      background-size: auto, cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
        background-size: contain, cover;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      flex-direction: row;

      &--desktop {
        width: 960px;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
  }

  &__top {
    &--container {
      padding: 0 20px;

      @media (min-width: $desktop-width) {
        padding: 0;
      }
    }
  }

  &__logo {
    display: block;
    height: 69px;
    padding-top: 24px;

    @media (min-width: $tablet-width) {
      height: 110px;
    }

    img {
      width: 74px;
      height: 23px;

      @media (min-width: $tablet-width) {
        width: 145px;
        height: auto;
      }

      @media (min-width: $desktop-width) {
        width: 147px;
        height: auto;
      }
    }
  }

  &__middle {
    margin: 0 auto;

    &--index {
      height: 396px;
      background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: left bottom, center;
      background-size: auto, cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
        background-size: 258px auto, cover;
      }

      @media (min-width: $tablet-width) {
        background: none;
        height: 270px;
      }

      @media (min-width: $desktop-width) {
        height: 340px;
      }
    }
  }

  &__container {
    display: flex;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 171px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      min-height: 330px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background: none;
    }

    &--index {
      @media (min-width: $tablet-width) {
        height: 619px;
        background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
        background-repeat: no-repeat;
        background-position: center bottom, center;
        background-size: auto, cover;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
          background-size: contain, cover;
        }
      }

      @media (min-width: $desktop-width) {
        background-image: none;
      }
    }
  }

  &__slogan {
    margin: 0;
    display: block;

    @include base-size(24px, 300, 33px);
    text-align: center;
    padding-top: 29px;

    @media (min-width: $tablet-width) {
      @include base-size(40px, 300, 48px);
      padding-top: 67px;

      &--index {
        margin: 0 auto;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 60px;
      padding-left: 60px;
      padding-right: 60px;
    }

    &--main {
      line-height: 29px;

      @media (min-width: $tablet-width) {
        width: 300px;
        padding-top: 92px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 32px;
        line-height: 48px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 100px;
        padding-bottom: 40px;
        line-height: 68px;

        @include base-size(50px, 300, 68px);
      }
    }
  }

  &__bottom {
    min-height: 271px;
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $mobile-width) {
      background-color: $base-blue;
    }

    @media (min-width: $tablet-width) {
      max-width: 300px;
      min-height: 232px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      min-height: 274px;
    }
  }

  &__button {
    padding-top: 14px;
    padding-bottom: 16px;

    @include base-btn($base-white, 29px);
    background-color: $base-blue;
    color: $base-white;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
    }
  }

  &__available {
    margin: 0;
    text-align: center;

    @include base-size(14px, 300, 24px);

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  &__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}
