.site-list {
  @media (min-width: $desktop-width) {
    width: 620px;
    display: flex;
    flex-direction: row;
  }

  @include base-size(18px, 700, 32px);
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    & a {
      color: $base-white;
    }
  }
}
