// Начните писать стили здесь
@import "variables";
@import "mixin";
@import "fonts";
@import "page-header";
@import "site-list";
@import "promo-list";
@import "advantages";
@import "photo";
@import "photo-item";
@import "competition";
@import "post";
@import "price";
@import "reviews";
@import "feedback";
@import "page-footer";

body {
  margin: 0;
  padding: 0;
  color: $base-blue;
  font-family: "Open Sans", "Arial", sans-serif;
}

.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}
