$base-pink: #d22856;
$base-blue: #283645;
$base-black: #000000;
$base-white: #ffffff;
$base-grey: #f2f2f2;
$base-green: #2aab6d;
$base-border: #e5e5e5;
$base-shadow: rgba(255, 255, 255, 0.15);
$base-cover: rgba(0, 0, 0, 0.2);

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
